.body {
  height: 700vh;
  background-color: #000;
}

.div-block {
  width: 100vw;
  height: 100vh;
}

.html-embed {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.button {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  height: 5%;
  margin-top: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 1px none #000;
  border-radius: 13px;
  background-color: rgba(56, 201, 93, 0.55);
  -o-object-fit: contain;
  object-fit: contain;
}

.div-block-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100vw;
  height: 100vh;
}

.html-embed-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.div-block-4 {
  width: 100vw;
  height: 100vh;
}

.body-2 {
  background-color: #181818;
}

.html-embed-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.image {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-top: auto;
}

.image-2 {
  position: absolute;
  z-index: 2;
  margin-top: 40vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 5%;
  padding-left: 5%;
  -o-object-fit: cover;
  object-fit: cover;
}

.lottie-animation {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -68.9vh;
}

.div-block-5 {
  position: static;
  display: block;
  width: auto;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.typed-words {
  padding-top: 10%;
  padding-right: 15%;
  padding-left: 15%;
  font-family: Recharge, sans-serif;
  color: #6b9dce;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
}

.grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-3 {
  padding-top: 5%;
  padding-right: 25%;
  padding-left: 25%;
}

.image-4 {
  padding-top: 15%;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.youtube {
  position: absolute;
  left: 0%;
  top: -10%;
  right: 0%;
  bottom: auto;
  height: 125vh;
}

.lottie-animation-2 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  opacity: 1;
  -o-object-fit: none;
  object-fit: none;
}

.lottie-animation-3 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
}

.text-block {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Recharge, sans-serif;
  color: #6c9ccb;
  text-align: center;
}

.div-block-6 {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lottie-animation-3-copy {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 15%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.div-block-7 {
  position: fixed;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns {
  height: 42%;
}

@media screen and (max-width: 991px) {
  .body {
    height: 500vh;
  }

  .div-block-3 {
    width: 100vw;
  }

  .image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    height: auto;
    margin-top: 0px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .image-2 {
    margin-top: 40vh;
    padding-top: 0px;
  }

  .lottie-animation {
    bottom: 9.4vh;
  }

  .div-block-5 {
    position: absolute;
    top: 97vh;
  }

  .youtube {
    top: -15%;
    display: block;
    height: 125vh;
  }

  .lottie-animation-2 {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    overflow: hidden;
    height: 200vh;
    padding-top: 64vh;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .lottie-animation-3-copy {
    width: 25%;
  }
}

@media screen and (max-width: 767px) {
  .lottie-animation {
    bottom: 32.8vh;
  }

  .div-block-5 {
    top: 71.3vh;
  }

  .div-block-7 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .image {
    position: relative;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: auto;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .image-2 {
    margin-top: 40vh;
  }

  .lottie-animation {
    bottom: 0.6vh;
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }

  .div-block-5 {
    top: 100vh;
  }

  .typed-words {
    font-size: 18px;
    line-height: 25px;
    text-align: left;
  }

  .youtube {
    height: 80vh;
  }

  .lottie-animation-3-copy {
    width: 50%;
  }
}

@font-face {
  font-family: 'Gameg';
  src: url('../fonts/GAMEG__.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Recharge';
  src: url('../fonts/RECHARGE.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
